<input type="hidden" name="actn" value="{{actn}}">
<input type="hidden" name="fecha" value="{{fecha}}">
<input type="hidden" name="titulo" value="{{titulo}}">
<input type="hidden" name="aut1" value="{{aut1}}">
<input type="hidden" name="aut2" value="{{aut2}}">
<input type="hidden" name="dir" value="{{dir}}">
<input type="hidden" name="jur1" value="{{jur1}}">
<input type="hidden" name="jur2" value="{{jur2}}">
