<input name="g{{pid}}j1" size="5" type="number" step="0.1" min="0" max="5" title="Jurado 1" onBlur="document.res.{{pid}}j1.value=document.data.g{{pid}}j1.value" value="{{vj1}}">
<input name="g{{pid}}j2" size="5" type="number" step="0.1" min="0" max="5" title="Jurado 2" onBlur="document.res.{{pid}}j2.value=document.data.g{{pid}}j2.value" value="{{vj2}}">
<input name="g{{pid}}dir" size="5" type="number" step="0.1" min="0" max="5" title="Director" onBlur="document.res.{{pid}}dir.value=document.data.g{{pid}}dir.value" value="{{vdir}}">
